{% extends "base.html" %}
{% block content %}


<div class="jumbotron text-center">

<title>Home Page</title>
<h1 class="display-4"> About</h1>
</div>

<h1>ACLU Challenge</h1>

<p>Help create a tool to inform people of their rights when stopped by the police and make it more simple for them to file a complaint with the Milwaukee Fire & Police Commission. </p>



<h1>Our Solution</h1>
<p> We created an interphase that would collect the information needed for the Milwaukee Fire & Police Commission online form while also prompting additional questions to help the citizen form an effective testimonial. This form will also provide additional data points to create analytics.   Example - following the lifecycle of the form etc.  </p>

<p> Note: We will not save identifable information from the user for confidentiality purposes. </p>

<h1>The Future</h1>
<p>Our idea is to expand the interphase to include inputs into other government sites. Using our portal as a central location for submitting feedback improves user experience, saves time, and harvests data for analytics open to the public.</p>

{% endblock %}